body{
    background:#002455 ;
    background-size: 600px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button{
    justify-content: space-around;
}
#a{
    justify-content: space-around;
    margin-right: 30px ;
    text-align: center;
}