body{
    background:#002455 ;
    background-size: cover;
    border: 4px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#c{
    display:block;
}
